<!DOCTYPE html>
<html>
<head>
  <title>Mailer</title>
  <%= stylesheet_link_tag "http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css" %>
  <%= stylesheet_link_tag "mails_viewer" %>
  <%= javascript_include_tag "mails_viewer" %>
  <%= csrf_meta_tags %>
  <script type='text/javascript'>
    $(function() {
      $("table").tablesorter({widthFixed: true}).tablesorterPager({container: $("#pager")});

      $('.mail a').each(function(){
        var href = $(this).attr('href');
        href = <%= root_path %> + href;
        $(this).attr('href', href);
      });
      $('.mail a.html').colorbox({width:"80%", height:"80%", iframe:true});
      $('.mail a.raw').click(function(){
        $.get($(this).attr('href'), function(data){
          $('#raw').text(data);
        });
        return false;
      });

    });
  </script>
  <style>
  #pager{
    padding-top: 10px;
  }
  #pager img{
    vertical-align: middle;
  }
  #raw{
    margin-top: 50px;
  }
  </style>
</head>
<body>

  <div class="container">
    <div id="list">
      <table class="tablesorter">
        <thead><tr><th>From</th><th>To</th><th>Subject</th><th>Date</th></thead>
        <tbody>
          <% @mails.each_with_index do |mail, index| %>
            <tr class="mail">
              <td><%= mail.from.join(', ') %></td>
              <td><%= mail.to.join(', ') %></td>
              <% if mail.html_part.present? %>
                <td>
                  <%= mail.subject %>
                  <a href="<%= email_path(@files[index], :raw) %>" class="raw">raw</a>
                  <a href="<%= email_path(@files[index], :html) %>" class="html">html</a>
                </td>
              <% else %>
                <td><a href="<%= email_path(@files[index], :html) %>" class="raw"><%= mail.subject %></a></td>
              <% end %>
              <td><%= mail.date %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <!-- Use this for prettier pagination
      <div class="row">
        <div class="pagination span16 columns">
          <ul>
            <li class="prev disabled"><a href="#">&larr; Previous</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="next"><a href="#">Next &rarr;</a></li>
          </ul>
        </div>
      </div>
      -->

      <div id="pager" class="pager">
        <form>
          <img src="/assets/tablesorter/first.png" class="first"/>
          <img src="/assets/tablesorter/prev.png" class="prev"/>
          <input type="text" class="pagedisplay"/>
          <img src="/assets/tablesorter/next.png" class="next"/>
          <img src="/assets/tablesorter/last.png" class="last"/>
          <select class="pagesize">
            <option selected="selected"  value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option  value="40">40</option>
          </select>
        </form>
      </div>
    </div>

    <pre id='raw'>
      <h3>Click link above to view original email content here!</h3>
    </pre>
  </div>
</body>
</html>

