<!DOCTYPE html>
<html>
<head>
  <title>Mailer</title>
  <%= stylesheet_link_tag "http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css" %>
  <%= stylesheet_link_tag "mails_viewer" %>
  <%= javascript_include_tag "mails_viewer" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div id="list">
      <table class="tablesorter">
        <thead><tr><th>From</th><th>To</th><th>Subject</th><th>Date</th></thead>
        <tbody>
          <% @mails.each do |mail, filename| %>
            <tr class="mail">
              <td><%= mail.from.join(', ') %></td>
              <td><%= mail.to.join(', ') %></td>
              <% if mail.html_part.present? %>
                <td>
                  <%= mail.subject %>
                  <a href="<%= email_path(filename, :raw) %>" class="raw">raw</a>
                  <a href="<%= email_path(filename, :html) %>" class="html">html</a>
                </td>
              <% else %>
                <% t = mail.content_type =~ /^text\/html;/ ? :html : :raw %>
                <td><a href="<%= email_path(filename, t) %>" class="<%= t %>"><%= mail.subject %></a></td>
              <% end %>
              <td><%= mail.date.to_s(:long) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div id="pager" class="pager">
        <form>
          <input type="text" class="pagedisplay"/>
          <select class="pagesize">
            <option selected="selected"  value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option  value="40">40</option>
          </select>
          <img src="/assets/tablesorter/first.png" class="first"/>
          <img src="/assets/tablesorter/prev.png" class="prev"/>
          <img src="/assets/tablesorter/next.png" class="next"/>
          <img src="/assets/tablesorter/last.png" class="last"/>
        </form>
      </div>
    </div>

    <pre id='raw'>
      <h3>Click link above to view original email content here!</h3>
    </pre>
  </div>
</body>
</html>
