<!DOCTYPE html>
<html>
<head>
  <title>Mailer</title>
  <%= stylesheet_link_tag "mails_viewer" %>
  <%= javascript_include_tag "mails_viewer" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div id="list">
      <table class="tablesorter">
        <thead><tr><th>From</th><th>To/cc/bcc</th><th>Subject</th><th>Date</th></thead>
        <tbody>
          <% @mails.each do |mail, filename| %>
            <tr class="mail">
              <td><%= mail.from.join(', ') %></td>
              <td>
                <%= (mail.to || []).join(', ')  %> /
                <%= (mail.cc || []).join(', ')  %> /
                <%= (mail.bcc || []).join(', ')  %>
              </td>
              <td>
                <%= mail.subject %>
                <% if mail.html_part || mail.content_type =~ /html/ %>
                  <a href="<%= email_path(filename, :html) %>" class="html preview">html</a>
                <% end %>
                <% if mail.text_part || mail.content_type =~ /plain/ %>
                  <a href="<%= email_path(filename, :plain) %>" class="plain preview">plain</a>
                <% end %>

                <% mail.attachments.each do |attachment| %>
                  <a href="<%= attachment_path(filename, attachment.filename) %>" class="attachment preview"><%= attachment.filename %></a>
                <% end %>
                <a href="<%= email_path(filename, :raw) %>" class="raw">raw</a>
              </td>
              <td><%= mail.date.to_s(:long) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div id="pager" class="pager">
        <form>
          <input type="text" class="pagedisplay"/>
          <select class="pagesize">
            <option selected="selected"  value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option  value="40">40</option>
          </select>
          <img src="/assets/tablesorter/first.png" class="first"/>
          <img src="/assets/tablesorter/prev.png" class="prev"/>
          <img src="/assets/tablesorter/next.png" class="next"/>
          <img src="/assets/tablesorter/last.png" class="last"/>
        </form>
      </div>
    </div>

    <pre id='raw'>
      <h3>Click link above to view original email content here!</h3>
      <div></div>
    </pre>
  </div>
</body>
</html>
